<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movinggame3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/volleyball"
        android:label="@string/app_name"
        android:roundIcon="@drawable/volleyball"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        >
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".gameActivity"
            android:label="gameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity

            android:name=".gameOver"
            android:label="gameOver">



        </activity>
        <activity

            android:name=".gameWin"
            android:label="gameWin">



        </activity>
    </application>

</manifest>